$main-font-family: Arial, Helvetica, sans-serif;
$tw-logo: url(../image/twitter.svg);
$fb-logo: url(../image/facebook.svg);
$in-logo: url(../image/linkedin.svg);
$inst-logo: url(../image/instagram.svg);
$yt-logo: url(../image/youtube.svg);
$tmblr-logo: url(../image/tumblr.svg);
$drib-logo: url(../image/dribbble.svg);
